<%# Make sure you leave in the #{smarty_html} tag. the rest is up to you to customize or rearrange! %>
<!DOCTYPE html>
<html lang='en'>
	<head>
	<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width'>
	<link href='markaside/style.css' media='screen' rel='stylesheet'>
	<title>Your title here</title>
</head>
	<body>
		<section class='main_col'>
			<div class='content'>
				<%= @smarty_html %>
			</div>
		</section>
	</body>
</html>