/*
	Helplessly hacked together by Jason Brennan, Fall 2013
*/


html {

}


body {
/* 	margin: 20px;
	border: 2px #000 solid; */
	font-family: "Lora", "Helvetica Neue", Helvetica, sans-serif;
	
	line-height: 1.9;
	/* background-color: #fefeef; */
	background-color: white;
	color:#3c372f;
}

a {
/* 	color: #5d4a32; */
	color: #83231f;
}

.content {
	width: 560px;
	margin-left: 70px;
/* 	margin-left: auto; */
/* 	margin-right: auto; */
}

p {
	font-size: 16px;
	text-align: justify;
	margin-top: 1.7em;
	margin-bottom: 1.7em;
	position: relative;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

img {
	max-width: 100%; /* probably don't always want this, though. */
}

.aside {
  margin-right: -300px;
  position: absolute;
  right: 0;
  top: auto; /* default */
  width: 250px;
  font-size: 80%;
  -webkit-hyphens: auto;
  color: #a0a1a3;
}

hr {
	border: 0;
	text-align: center;
	font-size: 1.9em;
}

hr:after { 
  content: "❧";
}

/****************************
	Mobile styles
****************************/

@media screen and (max-width: 480px) {
	.content {
		width: inherit;
		margin-left: 15px;
		margin-right: 15px;
	}
	
	.aside {
		margin-right: inherit;
		position: inherit;
		right: inherit;
		top: inherit;
		width: inherit;
		font-size: inherit;
	}
	
	span.aside:before {
	    content: ' ('; /* add an extra space before the opening paren */
	}
	
	span.aside:after {
	    content: ')';
	}
	
	span.asterisk {
		display: none;
	}
	
	blockquote {
		margin-left: 1.3em;
		margin-right: 1.3em;
		
		border-left: 1px solid #8f8f8f;
		padding-left: 1em;
		padding-right: 1em;
	}
	
	blockquote ul {
		padding-left: 1em;
		padding-right: 0;
	}
	
	
}

